**/Input/*
**/Output/*
*.obj
*.ilk
*.pdb
*.exe
.vscode
**/out
**/CMakeFiles
**/CMakeCache.txt
**/.cmake
**/.ninja*
**/bin
build
*.sqlite
*.db
*.sqlite-journal
*.db-journal
*.real.psd1

# Node.js
node_modules/
package-lock.json